@import "tailwindcss";

:root {
	--background-start: #0a0f1e;
	--background-end: #050810;
	--foreground: #f8f9fa;
}

@theme inline {
	--color-bg-start: var(--background-start);
	--color-bg-end: var(--background-end);
	--color-foreground: var(--foreground);
	--color-off-white: #f8f9fa;

	--font-sans: var(--font-inter), sans-serif;
	--font-serif: var(--font-lora), serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

@layer base {
	body {
		background: linear-gradient(
			to bottom,
			var(--background-start),
			var(--background-end)
		);
		color: var(--foreground);
		min-height: 100vh;
		/* font Inter for all normal text*/
		font-family: var(--font-inter), sans-serif;
	}

	/* font Lora to all headings */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-lora), serif;
	}
}
